.loading-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 5px;
}

.loading__spinner {
  width: 1em;
  height: 1em;
  margin-left: 0.5em;
  border: 2px solid;
  border-radius: 50%;
  border-right-color: transparent;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
